.card-deck
    .card.mb-3.shadow-sm
        .card-body.text-center
            h3 Giá trị kho
            p.display-4.mb-0 0
            span đồng
    .card.mb-3.shadow-sm
        .card-body.text-center
            h3 Đã cho
            p.display-4.mb-0 1M 
            span đồng
    .card.mb-3.shadow-sm
        .card-body.text-center
            h3 Giá trị kho
            p.display-4.mb-0 100 
            span đồng