.card.w-100.shadow-sm.p-md-4.p-3.mb-3
	.mb-3.text-center
		.w-50.mx-auto.mb-3
			+avatar
		p.d-flex.align-items-enter.justify-content-center.mb-3 Anh Khang
			i.material-icons.ml-2.text-primary(role="button" aria-pressed="true",data-toggle="tooltip", data-placement="left", title="Đã xác thực") check_circle	
				
	//- ul.list-group.list-group-flush.mb-5
	//- 	li.list-group-item.list-group-item-action
	//- 		a.d-flex.justify-content-between.align-items-center(href='#') Tài sản trong kho
	//- 			span.badge.badge-primary.badge-pill 0
	//- 	li.list-group-item.list-group-item-action
	//- 		a.d-flex.justify-content-between.align-items-center(href='#') Đã cho
	//- 			span.badge.badge-primary.badge-pill 0
	//- 	li.list-group-item.list-group-item-action
	//- 		a.d-flex.justify-content-between.align-items-center(href='#') Đã Nhận
	//- 			span.badge.badge-primary.badge-pill 1
	//- a.btn.btn-md.btn-secondary.btn-block.d-flex.align-items-center.justify-content-center(href='sign_up.html')
	//- 	i.material-icons.mr-2 add
	//- 	| Theo dõi
	//- a.btn.btn-lg.btn-success.btn-block(href='export-step_1.html') Cho quà
	a.btn.btn-lg.btn-primary.btn-block(href='sign_up.html') Liên hệ
	//- a.btn.btn-sm.btn-link.btn-block(href='sign_up.html') Báo cáo