.w-100.mb-3
	ul.list-group.shadow-sm
		li.list-group-item.list-group-item-action Thành viên tích cực
		li.list-group-item.list-group-item-action
			a(href='#') Tài sản trong kho
		li.list-group-item.list-group-item-action
			a(href='#') Tài sản trong kho
		li.list-group-item.list-group-item-action
			a(href='#') Tài sản trong kho
		li.list-group-item.list-group-item-action
			a(href='#') Tài sản trong kho