extends sections/layout/layout

block title
	title Về dự án

block content
	+heading('Dự án C.I.H', 'close', 'javascript:history.back()','',undefined)
	+main()
		.row.mt-lg-5
			.card.bg-white.col-12.py-3
				h1 MỘT CÁNH ÉN KHÔNG LÀM NÊN MÙA XUÂN
				p Mỗi hoàn cảnh khó khăn rất cần sự chung tay giúp tay của nhiều người để vượt qua. Khi bạn trao đi một món quà, dữ liệu của người cần giúp đỡ sẽ được lưu lại để những người khác có thể trao đi những tấm lòng giống bạn. Nếu bạn là tình nguyện viên muốn cho đi sự giúp đỡ, hoặc các tổ chức cần tình nguyện viên, hãy để lại thông tin tại đây. 
				h2 BẢN ĐỒ THÔNG TIN TỪ THIỆN
				p Tổng hợp thông tin của những hoàn cảnh khó khăn, nhà hảo tâm, hội từ thiện, tình nguyện viên, ngân hàng thực phẩm phân bố trên khắp Việt Nam.
				h2 TRỞ THÀNH ĐỐI TÁC THIỆN NGUYỆN CÙNG CHÚNG TÔI
				p Bạn là chủ nhà hàng, quán ăn, cửa hàng thực phẩm, tạp hóa, tình nguyện viên và bạn muốn cùng sẻ chia vì cho đi là còn mãi. Hãy trở thành đối tác của chúng tôi.