extends sections/layout/layout

block title
	title Xuất

block content
	+heading('Tôi muốn cho', 'navigate_before', 'javascript:history.back()','history','export-history.html')
	+main()
		.row.pt-lg-5
			.col-12.col-md-8.col-lg-6.mx-auto.card.py-3.p-md-5.shadow-sm.border-0.mb-3
				form
					.row
						.col-12
							.form-group
								+input-lg('text','vd: Gạo')
						.col-6.col-md-6
							.form-group
								label.sr-only Số lượng
								+input-lg('number','0')(pattern="\d*")
						.col-6.col-md-6
							.form-group
								label.sr-only Đơn vị
								select.form-control.form-control-lg
									option Kg
									option tấn
						.col-12.mb-3
							button.btn.btn-secondary.btn-lg.btn-block
								+icon('check','fa')
						.col-12
							.card.p-0.mb-3
								.list-group.list-group-flush.p-0
									+link('list-group-item list-group-item-action d-flex justify-content-between align-items-center','#')
										span
											+icon('check','fa')(class='text-success mr-3')
											.mr-2.d-inline-block Gạo
											span.badge.badge-dark 20 kg
										+icon('minus','fa')
									+link('list-group-item list-group-item-action d-flex justify-content-between align-items-center','#')
										span
											+icon('check','fa')(class='text-success mr-3')
											.mr-2.d-inline-block Nước mắm
											span.badge.badge-dark 30 lít
										+icon('minus','fa')
									+link('list-group-item list-group-item-action d-flex justify-content-between align-items-center','#')
										span
											+icon('check','fa')(class='text-success mr-3')
											.mr-2.d-inline-block Dầu ăn
											span.badge.badge-dark 10 chai (250ml)
										+icon('minus','fa')
							.col-12.fixed-bottom.fixed-lg-bottom-none.mb-3.px-3.px-lg-0
								+link('btn btn-lg btn-primary btn-block','export-step_2')
									| Tiếp tục
									+icon('arrow-right ml-3','fa')

