extends sections/layout/layout

block title
	title Homepage Logged In

block content
	+main(true)
		.row.pt-3.pt-lg-5
			.col-lg-8
				.row
					.col-12
						+subHeading('Nghèo điển hình')
						- var n = 1;
						.mb-3
							while n < 14
								+user-card('poor',n++)
							

			.col-lg-4.pl-md-5.d-none.d-lg-block
				.row
					.col-12
						p Chưa biết để gì bên đây
				//- include sections/side-right/intro-panel
			