extends sections/layout/layout

block title
	title Đăng ký

block content
	+heading('Thông báo', 'navigate_before', 'javascript:history.back()','',undefined)
	+main()
		.row.pt-lg-5.d-flex.align-items-center
			.col-md-6.mx-auto.mb-4.card.w-100.shadow-lg.border-0.p-3.p-md-5
				form
					.form-group
						label Tài khoản '0907319164' đã đăng kí nhưng chưa được xác thực
						//- +input-lg('number','0907319164')
					+link('btn btn-lg btn-primary btn-block mb-4','sign_up-confirmation')
						|  Gửi mã xác thực đến 0907 319 164
					button.btn.btn-link.btn-block(type='submit', disabled) Huỷ					