$primary-color: #3BA89D;
$secondary-color: #379B91;
$dark-color: #27496d;
$darker-color: #142850;
$facebook-color: #3b5998;


//-Breakpoint Media
$xs: 0; // Extra small screen / phone

$sm: 576px;  // Small screen / phone

$md: 768px; // Medium screen / tablet

$lg: 992px; // Large screen / desktop

$xl: 1200px; // Extra large screen / wide desktop