ul.list-unstyled.mb-3
	li
		small.text-muted.d-block.mb-2 Ngày tạo 01/04/2020
		ul.list-unstyled.mb-3
			li
				.card.p-1.bg-primary.border-0.shadow.mb-3
					+link('row d-flex justify-content-between align-items-center no-gutters','export-step_2')
						.col-4.text-center
							+icon('gift text-white-50 display-1','fa')
						.col-8
							ul.list-group
								li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.p-2 1. Gạo
									.badge.badge-dark 5kg
								li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.p-2 2. Đường
									.badge.badge-dark 5kg
								li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.p-2 3. Muối
									.badge.badge-dark 5kg
	li
		small.text-muted.d-block.mb-2 Ngày tạo 03/03/2020
		ul.list-unstyled.mb-3
			li
				.card.p-1.bg-primary.border-0.shadow.mb-3
					+link('row d-flex justify-content-between align-items-center no-gutters','export-step_2')
						.col-4.text-center
							+icon('gift text-white-50 display-1','fa')
						.col-8
							ul.list-group
								li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.p-2 1. Gạo
									.badge.badge-dark 5kg
								li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.p-2 2. Đường
									.badge.badge-dark 5kg
								li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.p-2 3. Muối
									.badge.badge-dark 5kg
			li
				.card.p-1.bg-primary.border-0.shadow.mb-3
					+link('row d-flex justify-content-between align-items-center no-gutters','export-step_2')
						.col-4.text-center
							+icon('gift text-white-50 display-1','fa')
						.col-8
							ul.list-group
								li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.p-2 1. Gạo
									.badge.badge-dark 5kg
								li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.p-2 2. Đường
									.badge.badge-dark 5kg
								li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.p-2 3. Muối
									.badge.badge-dark 5kg