+modal-page-mobile('','footer')(id='more-mobile', class='modal-bottom animated slideInUp')
	.list-group.list-group-flush.mb-3
		a.list-group-item.d-flex(href='#')
			+icon('person')(class='mr-3')
			| Quản lý tài khoản
		a.list-group-item.d-flex(href='#')
			+icon('person')(class='mr-3')
			| Quản lý tài khoản
		a.list-group-item.d-flex(href='#')
			+icon('live_help')(class='mr-3')
			| Hỗ trợ
	a.btn.btn-lg.btn-primary.btn-block(href='index.html') Thoát tài khoản
