+modal-page-mobile('','footer')(id='action-mobile', class='modal-bottom')
	a.btn.btn-lg.btn-primary.btn-block(href='create_new_post-step_1.html') Tôi muốn nhập qùa vào kho
	a.btn.btn-lg.btn-primary.btn-block(href='export-step_1.html') Tôi muốn cho quà
