+modal-page-mobile('','footer')(id='more-mobile', class='modal-bottom animated slideInUp')
	.list-group.list-group-flush
		+link('list-group-item d-flex text-decoration-none','#')
			+icon('person')(class='mr-3')
			| Quản lý tài khoản
		+link('list-group-item d-flex','settings')
			+icon('sliders-h','fa')(class='mr-3 d-flex align-items-center')
			| Cài đặt
		+link('list-group-item d-flex','#')
			+icon('live_help')(class='mr-3')
			| Hỗ trợ
		+link('list-group-item d-flex','index')
			+icon('exit_to_app')(class='mr-3')
			| Thoát tài khoản
