+modal-page-mobile('Thông báo','footer')(id='notifications-mobile')
	.list-group.list-group-flush
		//- a.media.list-group-item.list-group-item-action.flex-column.align-items-start(href='#')
		//- 	span.box-circle.mr-3
		//- 		small.bg-danger
		//- 			+icon('mail')
		//- 	.media-body
		//- 		h5.mb-1 List group item heading							
		//- 		p Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
		//- 		small.text-muted Donec id elit non mi porta.
		a.media.text-muted.pt-3.list-group-item-action(href='#')
			svg.bd-placeholder-img.mr-2.rounded(width='32', height='32', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 32x32')
				title Placeholder
				rect(width='100%', height='100%', fill='#007bff')
				text(x='50%', y='50%', fill='#007bff', dy='.3em') 32x32
			p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
				strong.d-block.text-gray-dark Thông báo 1
				|  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		a.media.text-muted.pt-3.list-group-item-action(href='#')
			svg.bd-placeholder-img.mr-2.rounded(width='32', height='32', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 32x32')
				title Placeholder
				rect(width='100%', height='100%', fill='#007bff')
				text(x='50%', y='50%', fill='#007bff', dy='.3em') 32x32
			p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
				strong.d-block.text-gray-dark Thông báo 1
				|  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		a.media.text-muted.pt-3.list-group-item-action(href='#')
			svg.bd-placeholder-img.mr-2.rounded(width='32', height='32', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 32x32')
				title Placeholder
				rect(width='100%', height='100%', fill='#007bff')
				text(x='50%', y='50%', fill='#007bff', dy='.3em') 32x32
			p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
				strong.d-block.text-gray-dark Thông báo 1
				|  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
